# Repository history
.git

# Docker-related files
Dockerfile
.dockerignore
Dockerfile.*

# IDE/editor configuration
.vscode/
.idea/

# Local virtual environments and caches
.venv/
venv/
*.pyc
__pycache__/
.mypy_cache/
.pytest_cache

# Ignore files generated when bulding the dev image
macronizer.db
rftagger-ldt.model
lemmas.py
macronized_endings.py
rftagger-lexicon.txt
rftagger-ldt.model
ldt-corpus.txt

# Installation files
RFTagger/
treebank_data/
RFTagger.zip
morpheus/